
@font-face {
    font-family: "Exo" ;
    src: url(https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap);
}

.ff{
    font-family: "Exo";
    width: auto;
    max-width: 730px;
    border-radius: 2em;
    padding: 1.5em;
    box-shadow:  20px 20px 60px #00000042,
                -20px -20px 60px #00000042;
}

.gg-file-document {
    mix-blend-mode: difference;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 14px;
    height: 16px;
    border: 2px solid transparent;
    border-right: 0;
    border-top: 0;
    box-shadow: 0 0 0 2px;
    border-radius: 1px;
    border-top-right-radius: 4px;
    overflow: hidden
}
.gg-file-document::after,
.gg-file-document::before {
    
    mix-blend-mode: difference;
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-file-document::before {
    
    mix-blend-mode: difference;
    background: currentColor;
    box-shadow:
        0 4px 0,
        -6px -4px 0;
    left: 0;
    width: 10px;
    height: 2px;
    top: 8px
}

.gg-file-document::after {
    
    mix-blend-mode: difference;
    width: 6px;
    height: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    right: -1px;
    top: -1px
}

@media (max-width:768px){
    .ff{
        margin: 2em;
        padding: 2em;
        max-width: 100vw;
    }
}