@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f1f1f;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&display=swap');

@font-face {
  font-family: "Comfortaa";
  src: url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap);
}

@font-face {
  font-family: "Quity";
  src: url("./fonts/quity.ttf") format("truetype"),
       url("./fonts/quity.woff") format("woff"),
       url("./fonts/quity.woff2") format("woff2");
}

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand.woff2") format("woff2"),
       url("./fonts/Quicksand.woff") format("woff"),
       url("./fonts/Quicksand.ttf") format("truetype");
}

@font-face {
  font-family: "led";
  src: url("./fonts/led.woff2") format("woff2"),
       url("./fonts/led.woff") format("woff"),
       url("./fonts/led.ttf") format("truetype");
}

.blob {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(#d5ff2ebc 10%, #74ff2fe9);
  filter: blur(250px);
  transition: all 300ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: -1;
}

.quity {
  font-family: "Quity";
}

.quicksand {
  font-family: "Quicksand";
}

.led {
  font-family: "led";
}
